%div.row
  %div.col-md-10.col-md-offset-1
    %h1=@code.title
    %p.external
      %a.collapseAll{href:"#", id: ""} Tout replier
      |
      %a.expandAll{href:"#", id: ""} Tout déplier 
    =raw display_summary(@code.summary, 'accordion')
    %p.external
      %a.collapseAll{href:"#", id: ""} Tout replier
      |
      %a.expandAll{href:"#", id: ""} Tout déplier
