%div.col-md-10.col-md-offset-1
  %h1= "#{@keywords.count} JORFTEXTs"
  - @keywords.map(&:jtext).sort_by(&:publication_date).reverse.each do |jtext|
    %h2
      %a{href: "/textes/#{jtext.id_jorftext_origin}"}=jtext.title_full